[alias]
    br      = branch
    ci      = commit
    co      = checkout
    st      = status

[color]
    status  = auto

[core]
    editor  = nvim

[user]
    name    = monman53
    email   = monman.cs@gmail.com
